<form [formGroup]="cadastroForm" (ngSubmit)="submitForm()">
    <label>
        Nome:
        <input type="text" formControlName="firstName">

        <span style="color: red;" *ngIf="cadastroForm.get('firstName')?.errors && (cadastroForm.get('firstName')?.touched || cadastroForm.get('firstName')?.dirty)">
            Adicionar o nome
        </span>
    </label>

    <br>
    <br>

    <label >
        Sobrenome:
        <input type="text" formControlName="lastName"><br>
    </label>

    <p>
        Erros:
        {{ cadastroForm.get('firstName')?.errors | json }}
        {{ cadastroForm.get('firstName')?.touched | json }}
        {{ cadastroForm.get('firstName')?.dirty | json }}
    </p>

    <button [disabled]="cadastroForm.invalid">Enviar</button>

    <br>
    {{ cadastroForm.value | json }}
    {{ cadastroForm.get('firstName')?.value }}
</form>