<form #form="ngForm"> <!-- #form seria um template ref que pode ter qualquer nome -->
    <label>
        Nome:
        <input type="text" name="nome" #nome="ngModel" [ngModel]="nome.value" required>
        <span *ngIf="form.invalid && (nome.dirty && nome.touched)" style="color: red;"> Invalid</span>
    </label>

    <br>
    <br>

    Nome Válido? {{ nome.valid }} <br> <!-- Quando está válido -->
    Nome Dirty? {{ nome.dirty }} <br> <!-- Quando tá sujo, tem coisa dentro dele -->
    Nome Touched? {{ nome.touched }} <br> <!-- Quando o form é tocado -->
    <br>
    Form Válido? {{ form.valid }}
    <!--
    valid
    dirty
    touched
    -->

    <br>
    <br>

    <label>
        Masculino:
        <input type="radio" name="sexo" value="Masculino" ngModel>
    </label>

    <br>
    <br>

    <label>
        Feminino:
        <input type="radio" name="sexo" value="Feminino" ngModel>
    </label>

    <br>
    <br>

    <label>
        Feminino:
        <input type="radio" name="sexo" value="Outros" ngModel>
    </label>

    <br>
    <br>

    <label>
        Angular:
        <input type="checkbox" name="angular" ngModel>
    </label>

    <br>
    <br>

    <label>
        Vue:
        <input type="checkbox" name="vue" ngModel>
    </label>

    <br>
    <br>

    <label>
        React:
        <input type="checkbox" name="react" ngModel>
    </label>

    <br>
    <br>

    <select name="comidas" ngModel>
        <option value="">Selecione um alimento</option>
        <option value="X-Salada">X-Salada</option>
        <option value="X-Bacon">X-Bacon</option>
        <option value="Coxinha">Coxinha</option>
    </select>

    <br>
    <p>Usando for com Select</p>

    <select name="comidas" ngModel>
        <option value="">Selecione um alimento</option>
        <option *ngFor="let item of listComidas" [ngValue]="item.comida"> <!-- ngValue permite que a gente selecione o objeto inteiro como valor, se fosse como [value] não daria certo -->
            {{item.comida}}
        </option>
    </select>

    <br>
    <br>
</form>

<br>
<br>
{{ form.value | json }}