<!-- Syntax sugar do ngIf -->
<!-- Se condition for true então coloca o texto True senão coloca o texto False que está no elseBlock -->
<p *ngIf="condition; else elseBlock">True</p>
<ng-template #elseBlock>
    <p>
    False
    </p>
</ng-template>

<hr>

<!-- Mesma logica de cima só que um pouco diferente -->

<p *ngIf="conditionClick">
    True
</p>

<p *ngIf="!conditionClick">
    False
</p>

<button (click)="onClick()">Clicar</button>

<hr>

<ul>
    <li *ngFor="let item of list; let i = index">
        [ {{ i }} ] - {{ item.nome }} - {{ item.idade }} anos
        <button (click)="onClickEventList($event, i)">Remover</button>
    </li>
</ul>

<input placeholder="nome" [(ngModel)]="form.nome" type="text">
<input placeholder="idade" [(ngModel)]="form.idade" type="text">

<button (click)="onClickAddList()">Add</button>

<hr>

<input type="text" [(ngModel)]="nome" >
<div [ngSwitch]="nome">
    <p *ngSwitchCase="'thomas'">Thomas</p>
    <p *ngSwitchCase="'teste'">Teste</p>
    <p *ngSwitchDefault>Deu ruim sua busca</p>
</div>