<header>
    <nav>
        <ul>
            <!-- 
                Colocando com o array a rota, já facilita quando formos 
                utilizar rotas parametrizadas
             -->

             <!-- 
                [routerLinkActive]="['class']"
                [routerLinkActiveOptions]="{ exact: true }" -> exact: true serve para entender que uma rota é ativa só quando tiver o endereço exato
              -->
            <li>
                <a routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li>
                <a [routerLink]="['/sobre']" [routerLinkActive]="['active']">Sobre</a>
            </li>
            <li>
                <a [routerLink]="['/404']" [routerLinkActive]="['active']">Error</a>
            </li>
        </ul>
    </nav>
</header>